.upvote{
    display: none;
    color: green;
}

.downvote{
    display: none;
    color: red;
}

.upvoted{
    display: none;
    color: green;
    
}

.downvoted{
    display: none;
    color: red;
}

body{
    /* background: #6190E8;  
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
    background: linear-gradient(to right, #A7BFE8, #6190E8);  */

    background: #085078;  
    background: -webkit-linear-gradient(to right, #85D8CE, #085078); 
    background: linear-gradient(to right, #85D8CE, #085078); 

    /* background: #C33764;  
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
    background: linear-gradient(to right, #1D2671, #C33764); */
    
    
    font-family: 'Courier Prime', sans-serif;   
}

.rcolor{
    color: red;
}


.card-color{
    background-color: rgb(245, 147, 147);
}


.statement:hover{
    text-decoration: none;
}
.statement-card{
    background-color: rgb(225, 239, 251);
    border-left: 6px solid red;
    border-radius: 5px;
}

.statement-card:hover{
    background-color: rgb(245, 147, 147);
    
}

.answer{
    display: none;
}

.answer:hover{
    text-decoration: none;
}

.answer-card{
    background-color: rgb(245, 147, 147);
    border-left: 6px solid blue;
    border-radius: 5px;
}

.answer-card:hover{
    background-color: rgb(225, 239, 251);
}
@media only screen and (max-width: 480px) {
    body{
        background-image: linear-gradient(to bottom right, lightblue, green);
        background-color: lightsteelblue; /* For browsers that do not support gradients */
    }
}


.inline-block{
    display: inline-block;
}