.upvote{
    display: none;
    color: green;
}

.downvote{
    display: none;
    color: red;
}

.upvoted{
    display: none;
    color: green;
    
}

.downvoted{
    display: none;
    color: red;
}

body{
    /* background: #6190E8;  
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
    background: linear-gradient(to right, #A7BFE8, #6190E8);  */

    background: #085078;  
    background: -webkit-linear-gradient(to right, #85D8CE, #085078); 
    background: linear-gradient(to right, #85D8CE, #085078); 

    /* background: #C33764;  
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
    background: linear-gradient(to right, #1D2671, #C33764); */
    
    
    font-family: 'Courier Prime', sans-serif;   
}

.rcolor{
    color: red;
}


.card-color{
    background-color: rgb(245, 147, 147)
}