.upvote{
    display: none;
    color: white;
}
.upvote:hover{
    text-decoration: none;
    color: white;
}
.downvote{
    display: none;
    color: white;
}
.downvote:hover{
    text-decoration: none;
    color: blue;
}
.upvoted{
    display: none;
    color: white;    
}
.upvoted:hover{
    text-decoration: none;
    color: white;
}
.downvoted{
    display: none;
    color: white;
}
.downvoted:hover{
    text-decoration: none;
    color: white;
}
body{
    /* background: #6190E8;  
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  
    background: linear-gradient(to right, #A7BFE8, #6190E8);  */

    background: #085078;  
    background: -webkit-linear-gradient(to right, #85D8CE, #085078); 
    background: linear-gradient(to right, #85D8CE, #085078); 

    /* background-color: #001c3c; */
    
    /* background: #C33764;  
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
    background: linear-gradient(to right, #1D2671, #C33764); */
    
    font-family: 'Ubuntu', sans-serif;
}

.rcolor{
    color: red;
}

.card-color{
    width: 320px;
    height: 100px;
    background-color:#10202c;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding-bottom: 60px;
}
.card-color::before{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    left: 0;
    border: 4px solid transparent;
    box-sizing: border-box;
}
.card-color:hover::before{
    height: 100px;
    width: 320px;
    border: 4px solid #ff0000;
    border-right: none;
    border-bottom: none;
    transition: height 0.3s linear,width 0.3s linear 0.3s;
}
.card-color::after{
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    border: 4px solid transparent;
    box-sizing: border-box;
}
.card-color:hover::after{
    height: 100px;
    width: 320px;
    border: 4px solid #ffc107;
    border-left: none;
    border-top: none;
    transition: height 0.3s linear,width 0.3s linear 0.3s;
}
.c-white{
    color: #fff;
}

.statement:hover{
    text-decoration: none;
}

.statement-card{
    height: 370px;
    width: 310px;
    background: #060c21;
    border: 1px solid #000;
    cursor: pointer;
}

.statement-card::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform:skew(2deg,2deg) ;
    z-index: -1;
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}

.statement-card::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}

.statement-card:hover{
    background-color: rgb(5, 2, 54);
    
}

.answer{
    display: none;
}

.answer:hover{
    text-decoration: none;
}

.answer-card{
    height: 370px;
    width: 310px;
    background: #060c21;
    border: 1px solid #000;
    cursor: pointer;
}
.answer-card::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform:skew(2deg,2deg) ;
    z-index: -1;
    background: linear-gradient(315deg,#ff0000,#ffc107);
}
.answer-card::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    background: linear-gradient(235deg,#dd020d,#060c21,#f54ad8);
}
.answer-card:hover{
    background-color:#30002b;
}

/* @media only screen and (max-width: 480px) {
    body{
        background-image: linear-gradient(to bottom right, lightblue, green);
        background-color: lightsteelblue;
    }
} */


.inline-block{
    display: inline-block;
}

.green-link{
    color: darkgreen;
}
.outer{
    position: relative;
    width: 94%;
    height: 72px;
    display: flex;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
.outer .problemstatement{
    position: relative;
    width: 350px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 2px solid;
    border-radius: 50px;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0,#f16337);
}
.outer .problemstatement .but{
    position: relative;
    width: 400px;
    height: 60px;
    background-color: #000;
    border-radius: 52px;
    align-items: center;
    justify-content: center;
}
.outer .problemstatement .but h2{
    position: relative;
    padding-left: 40px;
    padding-top: 10px;
    color: #fff;
    font-size: 1.5rem;
    
}

.p-s-style{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
.card-p-s{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.unline-remove:hover{
    text-decoration: none;
}
