{% extends 'base.html' %}

{% block content %}
<h2 class="mt-2 text-center">Poll</h2>
<a class="mt-2 inline-block" href="{% url 'polling:list' %}">Back to Live Polls</a>
<p>Your Vote is Anonymized!</p>
<hr>
<div class="row">
    <div class="col-12">
        <h3 class="lead">Statement: {{object.statement}}</h3>
    </div>
    <form action="{% url 'polling:submit' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="poll" value="{{object.id}}">
        {% for option in options %}
        <div class="col-12 form-check ml-3 mb-2">
            <input class="form-check-input" type="radio" id="{{option.id}}" name="option" value="{{option.id}}">
            <label class="form-check-label" for="{{option.id}}">{{option.text}}</label><br>
        </div>
        {% empty %}
        <p class="lead">No Option Available!</p>
        {% endfor %}
        <input class="btn btn-primary ml-2" type="submit" value="Submit">
        <p class="lead mt-2 ml-2">If already Submitted, Re-Submit to Update your Vote!</p>
    </form>
</div>
{% if request.user.info.is_cr %}
<a class="btn btn-success mb-3" href="{% url 'polling:close' object.id %}">Close Poll</a>
<button type="button" class="btn btn-danger mb-3" data-toggle="modal" data-target="#deletePoll">Delete</button>
{% endif %}
{% include 'polling/modal_.html' with id=object.id %}
{% endblock %}