{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
    <h4 class=mt-2>Department: {{request.user.info.department|upper}} {{request.user.info.join_year}}</h4>
    <a href="{% url 'reporter:index' %}">Back to Active List</a>
    <hr>
    <p class="mt-2 lead text-center">Closed Issues</p>
    {% for issue in issue_list %}
    <div class="card border-primary mb-3" style="max-width: 45rem;">
        <div class="card-header">{{issue.user.user.first_name}} ({{issue.user.user.username}}) {% if issue.user.is_cr %}<strong>(CR)</strong>{% endif %} {% if request.user.info.is_cr %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">X</button> <a class="btn btn-warning ml-2" href="{% url 'reporter:close-issue' issue.id %}">Open</a> {% endif %} {% if issue.cr_line %}<a class="btn btn-success" href="{% url 'reporter:resolve-issue' issue.id %}">Resolve</a>{% endif %}</div>
        <div class="card-body text-primary">
          <h5 class="card-title">{{issue.title}}</h5>
          <p class="card-text" >{{issue.content}}</p>
          <p class="card-text">Posted on: {{issue.timestamp}}</p>
          {% if issue.cr_line %}
          <p class="card-text resolve-message"><em>Resolved Message: </em><span style="color: black;">{{issue.cr_line}}</span></p>
          <a class="btn btn-dark" href="{% url 'reporter:resolve-line-delete' issue.id %}">Remove Message</a>
          {% else %}
          <form action="{% url 'reporter:close-stage' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-5 col-md-7 col-sm-8">
                <input class="form-control" type="text" name="c-line">
              </div>
              <div class="col-2">
                  <input class="btn btn-primary btn-sm mt-1" type="submit" value="Add">
              </div>
            </div>
            <input type="hidden" name="id" value="{{issue.id}}">
          </form>
          {% endif %}
        </div>
        <div class="results ml-2">
          <p>Upvotes: {{issue.upvotes}}</p>
          <p>Downvotes: {{issue.downvotes}}</p>
        </div>
    </div>
    {% include 'reporter/modal_.html' with id=issue.id %}
    {% empty %}
    <p class="lead">No Issues Closed!</p>
    {% endfor %}
{% endif %}

{% endblock %}