{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <!-- <h2 class="mt-3 text-center">TeamEzI Resolved</h2> -->
    <div class="text-center">
        <img src="{% static 'images/teamezi.jpg' %}" width="450" class="mt-2 img-fluid" alt="">
    </div>
    {% if request.user.is_authenticated %}
    <h4>Department: {{request.user.info.department|upper}} {{request.user.info.join_year}}</h4>
    <h3>Welcome, {{request.user.first_name}} {{request.user.last_name}}</h3>
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-6 col-lg-3 mt-1">
                <a class="rcolor" href="{% url 'reporter:issue-form' %}">Add New Issue</a>
            </div>
            <div class="col-sm-6 col-lg-6 mt-1">
                <a class="btn btn-primary btn-sm" href="{% url 'reporter:info-list' %}">Information List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mt-2">
                <a class="" href="{% url 'reporter:resolved' %}">Resolved</a>
            </div>
            {% if request.user.info.is_cr %}
            <div class="col-sm-6 col-lg-3 mt-2"> 
                <a href="{% url 'reporter:close-stage' %}">Closed</a>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2">
                <a class=" btn btn-primary btn-sm" href="{% url 'reporter:info-pending' %}">Pending List</a>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2">
                <a class="btn btn-secondary btn-sm" href="{% url 'reporter:voted-list' %}">Voting Data</a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>

    {% for issue in issue_list %}
    <div class="card border-primary mb-3" style="max-width: 45rem;">
        <div class="card-header">{{issue.user.user.first_name}} ({{issue.user.user.username}}) {% if issue.user.is_cr %}<strong>(CR)</strong>{% endif %}{% if request.user == issue.user.user %} <a href="{% url 'reporter:edit' issue.id %}">Edit +</a>{% endif %} {% if request.user.info.is_cr or request.user == issue.user.user %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">X</button>{% endif %}{% if request.user.info.is_cr %} <a class="btn btn-success ml-2" href="{% url 'reporter:close-issue' issue.id %}">Close</a> {% endif %}</div>
        <div class="card-body text-primary">
            <h5 class="card-title">{{issue.title}}</h5>
            <p class="card-text" >{{issue.content}}</p>
          <p class="card-text">Posted on: {{issue.timestamp|date:'d-m-Y H:i'}}</p>
        </div>
        <div class="vote" data-id="{{issue.id}}">
            <button data-id="{{issue.id}}" class="upvote btn btn-link">Upvote</button>
            <button data-id="{{issue.id}}" class="downvote btn btn-link">Downvote</button>
            <button data-id="{{issue.id}}" class="upvoted btn btn-link">Upvoted</button>
            <button data-id="{{issue.id}}" class="downvoted btn btn-link">Downvoted</button>
            <!-- {% if request.user.info.is_cr %}
                <span>UpVotes: {{issue.upvotes}}</span>
                <span>DownVotes: {{issue.downvotes}}</span>
            {% endif %} -->
        </div>
        {% if issue.deadline %}
            <p class="deadline-date ml-2"><em>Deadline: </em>{{issue.deadline}}</p>
            {% if request.user.info.is_cr %}
            <p class="ml-3"><a class="btn btn-danger btn-sm" href="{% url 'reporter:remove-deadline' issue.id %}">Remove Deadline</a></p>
            {% endif %}
        {% else %}
            {% if request.user.info.is_cr %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8  "> 
                        <div class=" ml-2 mt-2 pb-3 deadline">
                            <form action="{% url 'reporter:add-deadline' %}" method="post">
                                {% csrf_token %}
                                {{form|crispy}} 
                                <input type="hidden" name="id" value="{{issue.id}}">
                                <input class="ml-2 btn btn-primary btn-sm" type="submit" value="Add Deadline">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% include 'reporter/modal_.html' with id=issue.id %}
    {% empty %}
    <p class="lead">Woohoo, No Active Issues!</p>
    {% endfor %}
    {% else %}
    <hr>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <a href="{% url 'account_signup' %}">
            <div class="card card-color">
                <div style="width: 18rem;" class="card-body">
                    New to the Site,<br> Register Now!
                </div>
              </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <a href="{% url 'account_login' %}">
            <div class="card card-color">
                <div style="width: 18rem;" class="card-body">
                  Try Demo Login, <br>
                  and Enjoy as Newbie!
                </div>
              </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <a href="">
            <div class="card card-color">
                <div style="width: 18rem;" class="card-body">
                  Rate us,
                  and Give Suggestions!
                </div>
              </div>
            </a>
        </div>
    </div>
    <p class="mt-3"></p>
    {% endif %}
</div>
{% endblock %}