{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}

<div>
    {% if request.user.is_authenticated %}
    <h2 class="mt-3 text-center">TeamEzI Resolved</h2>
    {% endif %}
    {% if not request.user.is_authenticated %}
    <div class="text-center">
        <img src="{% static 'images/teamezi.jpg' %}" width="450" class="mt-2 img-fluid" alt="">
    </div>
    {% endif %}
    {% if request.user.is_authenticated %}
    <h4 class="inline-block">Department: {{request.user.info.department|upper}} {{request.user.info.join_year}}</h4>
    <a class="btn btn-secondary ml-3 mt-2" href="{% url 'polling:list' %}"><i class="fa fa-bar-chart"></i> Live Polls <span class="badge badge-light">{{live_polls_count}}</span></a>
    {% if request.user.info.is_cr and request.user.info.department == "msm" %}
    <button type="button" class="btn btn-primary btn-sm ml-3 mt-2" data-toggle="modal" data-target="#remainderModal">Send Remainder Mail!</button>
    {% include 'reporter/mail-modal_.html' %}
    {% endif %}
    <h3 class="mt-2">Welcome, {{request.user.first_name}} {{request.user.last_name}}</h3>
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-6 col-lg-3 mt-1">
                <a class="btn btn-primary btn-sm" href="{% url 'reporter:issue-form' %}"><i class="fa fa-pencil"></i> Add New Issue</a>
            </div>
            <div class="col-sm-6 col-lg-6 mt-1">
                <a class="btn btn-primary btn-sm" href="{% url 'reporter:contact-list' %}"><i class="fa fa-user-circle"></i> Contact List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3 mt-2">
                <a class="btn btn-success btn-sm" href="{% url 'reporter:resolved' %}"><i class="fa fa-check-square-o"></i> Resolved <span class="badge badge-danger">{{resolved_issue_count}}</span></a>
            </div>
            {% if request.user.info.is_cr %}
            <div class="col-sm-6 col-lg-3 mt-2"> 
                <a class="btn btn-warning btn-sm" href="{% url 'reporter:close-stage' %}"><i class="fa fa-lock"></i> Closed <span class="badge badge-danger">{{pending_issue_count}}</span></a>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2">
                <a class=" btn btn-primary btn-sm" href="{% url 'reporter:contact-pending' %}"><i class="fa fa-clock-o"></i> Pending List <span class="badge badge-dark">{{pending_contact_count}}</span></a>
            </div>
            <div class="col-sm-6 col-lg-3 mt-2">
                <a class="btn btn-secondary btn-sm" href="{% url 'reporter:voted-list' %}"><i class="fa fa-list-alt"></i> Voting Data</a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>

    {% for issue in issue_list %}
    <div class="card border-primary mb-3" style="max-width: 45rem;">
        <div class="card-header">{{issue.user.user.first_name}} ({{issue.user.user.username|upper}}) {% if issue.user.is_cr %}<strong>(CR)</strong>{% endif %}{% if request.user == issue.user.user %} <a href="{% url 'reporter:edit' issue.id %}">Edit +</a>{% endif %} {% if request.user.info.is_cr or request.user == issue.user.user %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">X</button>{% endif %}{% if request.user.info.is_cr %} <a class="btn btn-success ml-2" href="{% url 'reporter:close-issue' issue.id %}">Close</a> {% endif %}</div>
        <div class="card-body text-primary">
            <h5 class="card-title">{{issue.title}}</h5>
            <p class="card-text" >{{issue.content}}</p>
          <p class="card-text">Posted on: {{issue.timestamp|date:'d-m-Y H:i'}}</p>
        </div>
        <div class="vote" data-id="{{issue.id}}">
            <button data-id="{{issue.id}}" class="ml-3 mb-2 upvote btn btn-secondary btn-link"><i class="fa fa-thumbs-o-up"></i> Upvote</button>
            <button data-id="{{issue.id}}" class="ml-3 mb-2 downvote btn btn-secondary btn-link"><i class="fa fa-thumbs-o-down"></i> Downvote</button>
            <button data-id="{{issue.id}}" class="ml-3 mb-2 upvoted btn btn-success btn-link"> <i class="fa fa-thumbs-o-up"></i> Upvoted</button>
            <button data-id="{{issue.id}}" class="ml-3 mb-2 downvoted btn btn-danger btn-link"><i class="fa fa-thumbs-o-down"></i> Downvoted</button>
        </div>
        {% if request.user.info.is_cr %}
            {% with upvote=issue.upvotes|abs downvote=issue.downvotes|abs %}
            <span class="ml-2"><em>Live Votes: {{upvote|add:downvote}}</em></span>
            {% endwith %}
        {% endif %}
        {% if issue.deadline %}
            <p class="deadline-date ml-2"><em>Deadline: </em>{{issue.deadline}}</p>
            {% if request.user.info.is_cr %}
            <p class="ml-3"><a class="btn btn-danger btn-sm" href="{% url 'reporter:remove-deadline' issue.id %}">Remove Deadline</a></p>
            {% endif %}
        {% else %}
            {% if request.user.info.is_cr %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8  "> 
                        <div class=" ml-2 mt-2 pb-3 deadline">
                            <form action="{% url 'reporter:add-deadline' %}" method="post">
                                {% csrf_token %}
                                {{form|crispy}} 
                                <input type="hidden" name="id" value="{{issue.id}}">
                                <input class="ml-2 btn btn-primary btn-sm" type="submit" value="Add Deadline">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% include 'reporter/modal_.html' with id=issue.id %}
    {% empty %}
    <p class="lead">Woohoo, No Active Issues!</p>
    {% endfor %}
    {% else %}
    <div class="row mt-2">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <a class="unline-remove" href="{% url 'account_signup' %}">
            <div class="card card-color">
                <div style="width: 320px;height: 100px;" class="card-body">
                    <h5 class="c-white">
                        New to the Site,<br> Register Now!
                    </h5>
                </div>
              </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <a class="unline-remove" href="{% url 'account_login' %}">
            <div class="card card-color">
                <div style="width: 320px;height: 100px;" class="card-body">
                 <h5 class="c-white">
                     Try Demo Login, <br>
                   and Enjoy as Newbie!
                 </h5>
                </div>
              </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <a class="unline-remove" href="{% url 'reporter:feed-back' %}">
            <div class="card card-color">
                <div style="width: 320px;height: 100px;" class="card-body">
                  <h5 class="c-white">
                    Rate us,
                    and Give Suggestions!
                  </h5>
                </div>
              </div>
            </a>
        </div>
    </div>
    <hr>
    
        <div class="outer">
            <div class="problemstatement">
                <div class="but">
                    <h2>Problem Statements!</h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-8 col-sm-12 mx-4 my-2">
                <div id="q1" class="statement">
                    <div class="card statement-card statement">
                        <div style="width: 320px; height: 370px;" class="card-body">
                            <h2 class="p-s-style">Problem</h2>
                            <p class="card-p-s">Solving any issue of a class is a delicate situation,opinions are bound to clash.creating a survey everytime is a hectic responsibility and a headache for CR/Team Lead.</p>
                        </div>
                    </div>
                </div>
                <div id="a1" class="answer">
                    <div class="card answer-card">
                        <div style="width: 320px; height: 370px;" class="card-body">
                            <h2 class="p-s-style">Solution</h2>
                            <p class="card-p-s">This portal is built mainly to solve any issues faced by members of a class or a team without any bias and with clarity.Simply anyone can post their issues and get it resolved with other members' responses on it,thus reducing the complexity for a CR/TL of creating surveys and broadcasting it to everyone.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 mx-4 my-2">
                <div id="q2" class="statement">
                    <div class="card statement-card">
                        <div style="width: 320px; height: 370px;" class="card-body">
                            <h2 class="p-s-style">Problem</h2>
                            <p class="card-p-s">New members to the portal can also face a lot of issues operating it,as exploring and figuring out the functioning of a website is time consuming.</p>
                        </div>
                    </div>
                </div>
                <div id="a2" class="answer">
                    <div class="card answer-card">
                        <div style="width: 320px;height: 370px; " class="card-body">
                            <h2 class="p-s-style">Solution</h2>
                            <p class="card-p-s">We tried to keep the portal as simplistic as possible and to make it easy ,we are providing Test Login ,Try it to explore website completely.If you need further directions on what the buttons do,please check out the <a href="{% url 'reporter:documentation' %}">Need Help?</a> section at the top of the page!</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 my-2">
                <div id="q3" class="statement">
                    <div class="card statement-card">
                        <div style="width: 320px; height: 370px;" class="card-body">
                            <h2 class="p-s-style">Problem</h2>
                            <p class="card-p-s">To make immediate decisions for a class is unfair and not a good practice as it lacks class representation.How do we overcome this?</p>
                        </div>
                    </div>
                </div>
            <div id="a3" class="answer">
                <div class="card answer-card">
                    <div style="width: 320px; height: 370px;" class="card-body">
                        <h2 class="p-s-style">Solution</h2>
                        <p class="card-p-s">Since the functionality of solving an issue in the portal is sufficiently automated,the frequency of solving them will drastically rise,and therefore more decisions can be made beforehand even if it was never an issue and was only predicted by some people.All it needs just a one person to raise any issue among whole class and thus reducing chances for CR to make immediate decisions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 mt-2 mb-4">
            <div id="q4" class="statement">
                <div class="card statement-card">
                    <div style="width: 320px; height: 370px;" class="card-body">
                        <h2 class="p-s-style">Problem</h2>
                        <p class="card-p-s">As some philosophers have said,"There's no rose without thorn",similarly there are some people who are reluctant not to cooperate and participate in surveys.</p>
                    </div>
                </div>
            </div>
            <div id="a4" class="answer">
                <div class="card answer-card">
                    <div style="width: 320px; height: 370px;" class="card-body">
                        <h2 class="p-s-style">Solution</h2>
                        <p class="card-p-s">This portal generates and stores data about people participations(while keeping privacy in mind,<b>EVERY</b> vote is anonymous),CR can access it and make use of it and these people can be notified easily.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 mt-2 mb-4">
            <div id="q5" class="statement">
                <div class="card statement-card">
                    <div style="width: 320px; height: 370px;" class="card-body">
                        <h2 class="p-s-style">Problem</h2>
                        <p class="card-p-s">Power of a CR is fickle and uncertain.A CR can promote partiality.</p>
                    </div>
                </div>
            </div>
            <div id="a5" class="answer">
                <div class="card answer-card">
                    <div style="width: 320px; height: 370px;" class="card-body">
                        <h2 class="p-s-style">Solution</h2>
                        <p class="card-p-s">This portal ensures fair game play,Powers of a CR are more than a normal student/team member,but it is fairly limited.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 mt-2 mb-4">
            <div id="q6" class="statement">
                <div class="card statement-card">
                    <div style="width: 320px; height: 370px;" class="card-body">
                        <h2 class="p-s-style">Problem</h2>
                        <p class="card-p-s">People frequently ask for help from the CR for things which were already told/been discussed before.</p>
                    </div>
                </div>
            </div>
            <div id="a6" class="answer">
                <div class="card answer-card">
                    <div style="width: 320px;height: 370px;" class="card-body">
                        <h2 class="p-s-style">Solution</h2>
                        <p class="card-p-s">This portal has a permanent stockpile for important information(for example-contact info,academic info)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
