{% extends 'base.html' %}

{% block content %}
<h2 class="mt-2">Pending List</h2>
<a href="{% url 'reporter:index' %}">Back to Active List</a>
<hr>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{object.name}} ({{object.course}})</td>
        <td>{% if object.email %}Email: {{object.email}}{% endif %}<br>{% if object.phone %}Phone: {{object.phone}}{% endif %}</td>
        <td><a class="btn btn-success" href="{% url 'reporter:info-approve' object.id %}">Approve It</a></td>
        <td><a class="btn btn-danger" href="{% url 'reporter:info-delete' object.id %}">Remove</a></td>
      </tr>
      {% empty %}
      <p class="lead">No List Available!</p>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock %}