 <!-- Modal -->
  <div class="modal fade" id="remainderModal" tabindex="-1" aria-labelledby="remainderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remainder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Remainder Mail will be Send to Entire Class!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a class="btn btn-primary" href="{% url 'reporter:mail' %}">Send Now!</a>
        </div>
      </div>
    </div>
  </div>