{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Voting Data</h2>
<a href="{% url 'reporter:index' %}"><i class="fa fa-home"></i> Home</a>
<hr>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Roll Number %</th>
        <th scope="col">Total Upvotes %</th>
        <th scope="col">Total Downvotes %</th>
        <th scope="col">Total None-votes %</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for obj,val in object_list.items %}
        <th scope="row">{{forloop.counter}}</th>
        <td>{{obj}}</td>
        <td>{{val.upvote}} %</td>
        <td>{{val.downvote}} %</td>
        <td>{{val.novote}} %</td>
      </tr>
      {% empty %}
      <p class="lead">No student Records!</p>
      {% endfor %}
    </tbody>
  </table>
</div>
  {% endblock %}