{% extends 'base.html' %}

{% block content %}
<h2 class="mt-3 text-center">TeamEzI Resolved</h2>
<h4 class="inline-block">Department: {{request.user.info.department|upper}} {{request.user.info.join_year}}</h4>
<a class="btn btn-secondary ml-3 mt-2" href="{% url 'polling:list' %}"><i class="fa fa-bar-chart"></i> Live Polls <span class="badge badge-light">{{live_polls_count}}</span></a>
<a class="btn btn-secondary ml-3 mt-2" href="{% url 'reporter:index' %}"><i class="fa fa-exclamation-circle"></i> Issues</a>
<h3 class="mt-2">Welcome, {{request.user.first_name}} {{request.user.last_name}}</h3>

<a class="btn btn-primary btn-sm" href="{% url 'infolist:add-info' %}">Add New</a>
{% if request.user.info.is_cr %}
<a class="btn btn-primary btn-sm" href="{% url 'infolist:add-subject' %}">Add New Subject</a>
<a class="btn btn-success btn-sm" href="{% url 'infolist:pending' %}">Pending</a>
{% endif %}
<hr>
<h2 class="mt-2 text-center">Information List</h2>
<div class="row">
    <div class="col">
        <!-- table -->
    </div>
</div>

{% endblock %}