{% extends "base.html" %}
{%load crispy_forms_tags%}

{%block content%}
<h2 class="mt-3">Meet Links</h2>
<ul>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/lookup/bwss7mphx6"><u>Sensors and Control</u></a></li>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/kto-oucy-qtp"><u>DBMS</u></a></li>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/ewt-mjhe-uyh"><u>OSCM</u></a></li>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/lookup/bnkjqtnovm"><u>Numerical Methods</u></a></li>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/aki-amez-kqd"><u>ManPro 2 Theory</u></a></li>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/nec-znea-vun"><u>ManPro 2 Practice</u></a></li>
    <li class="mt-3"><a class="text-dark"target="_blank" href="https://meet.google.com/lookup/cue56y52li"><u>M2M</u></a></li>
</ul>

{%endblock%}
