{% extends 'base.html' %}

{% block content %}
<style>
    ul{
        border-radius:6px;
        color:solid black ;
        padding:3px;
        margin:2px;
        background-color:#f7c499;
        
    }
    </style>
<h1>About Us</h1>
<p>This project has been made to solve some of the various issues faced by the class and its representatives on a various basis</p>

<h2>Developed, Designed and Tested By:</h2>
<ul>
    <li><a target="none" href="https://github.com/ayushxeon">ayushxeon</a></li>
    <li><a target="none" href="https://github.com/TheOxFromOUpdatdutOfTheBox">TheOxFromOutOfTheBox</a></li>
    <li><a target="none" href="https://github.com/anonshubh">anonshubh</a></li>
</ul>
<h2>Contributors</h2>
<p>We encourage people to have a look at our repo on <a target="none" class="rcolor" href="https://github.com/anonshubh/issue-reporter">Github</a>,and provide us with feedback,suggestions and inputs.They are all very much apppreciated!!</p>
<!-- <ul>
    <li></li>
</ul> -->


{% endblock %}
