{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     
    <!-- FAVICON -->
    <link rel ="apple-touch-icon" sizes ="180x180" href ="{% static 'images/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes ="16x16" href ="{% static 'images/fav/favicon-16x16.png' %}">
    <link rel="manifest" href ="{% static 'images/fav/site.webmanifest' %}">

     <!-- Custom CSS -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
     
   
    <title>{% block title %}Let's Resolve{% endblock %}</title>
  </head>
  <body>
    <section>
      <nav style="background-color:rgba(63, 61, 61, 0.89) ;" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'reporter:index' %}">Resolver</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link my-1 mr-2 text-center" href="{% url 'reporter:documentation' %}">Need Help?</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link my-1 mr-2 text-center" href="{% url 'reporter:about' %}">About Us<span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link btn btn-success" href="{% url 'account_logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link btn btn-success btn-sm ml-2 my-1 mr-2" href="{% url 'account_login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-success btn-sm ml-2 my-1 mr-2" href="{% url 'account_signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </section>
    <div class="container">
      {% include 'messages_.html' %}
      {% block content %} {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/master.js' %}"></script>
    
    <!-- Page-Wise JS -->
    {% block script %} {% endblock %}

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178498254-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-178498254-1');
      </script>
  </body>
</html>